services:
  # --- BACKENDS ---
  app-backend-autenticacao:
    build:
      context: .
      dockerfile: Backend/app-backend-autenticacao/Dockerfile
    container_name: app-backend-autenticacao
    environment:
      - ASPNETCORE_ENVIRONMENT=Homologation
      - TZ=America/Sao_Paulo
      - AppName=app-backend-autenticacao
      - PathBase=/app-backend-autenticacao
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=gestaoFinanceiraDB;User Id=sa;Password=Dev@123456;TrustServerCertificate=True;MultipleActiveResultSets=true
      - ASPNETCORE_URLS=http://+:7001
      - KafkaSettings__BootstrapServers=kafka:29092
    ports:
      - "7001:7001"
    networks:
      - shopping-network

  app-backend-produto:
    build:
      context: .
      dockerfile: Backend/app-backend-produto/Dockerfile
    container_name: app-backend-produto
    environment:
      - ASPNETCORE_ENVIRONMENT=Homologation
      - TZ=America/Sao_Paulo
      - AppName=app-backend-produto
      - PathBase=/app-backend-produto
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=gestaoFinanceiraDB;User Id=sa;Password=Dev@123456;TrustServerCertificate=True;MultipleActiveResultSets=true
      - CacheSettings__ConnectionString=redis:6379
      - ASPNETCORE_URLS=http://+:6001
      - KafkaSettings__BootstrapServers=kafka:29092
    ports:
      - "6001:6001"    
    networks:
      - shopping-network

  app-backend-notificacao:
    build:
      context: .
      dockerfile: Backend/app-backend-notificacao/Dockerfile
    container_name: app-backend-notificacao
    environment:
      - ASPNETCORE_ENVIRONMENT=Homologation
      - TZ=America/Sao_Paulo
      - AppName=app-backend-notificacao
      - PathBase=/app-backend-notificacao
      - ASPNETCORE_URLS=http://+:7009
      - KafkaSettings__BootstrapServers=kafka:29092
    ports:
      - "7009:7009"   
    networks:
      - shopping-network

  # --- GATEWAY ---
  app-api-produto:
    build:
      context: .
      dockerfile: Gateway/app-api-produto/Dockerfile
    container_name: app-api-produto
    environment:
      - ASPNETCORE_ENVIRONMENT=Homologation
      - TZ=America/Sao_Paulo
      - AppName=app-api-produto
      - PathBase=/app-api-produto
      - ASPNETCORE_URLS=http://+:5022
      - KafkaSettings__BootstrapServers=kafka:29092
    ports:
      - "5022:5022"
    depends_on:
      - app-backend-produto
    networks:
      - shopping-network

  app-api-autenticacao:
    build:
      context: .
      dockerfile: Gateway/app-api-autenticacao/Dockerfile
    container_name: app-api-autenticacao
    environment:
      - ASPNETCORE_ENVIRONMENT=Homologation
      - TZ=America/Sao_Paulo
      - AppName=app-api-autenticacao
      - PathBase=/app-api-autenticacao
      - ASPNETCORE_URLS=http://+:5006
      - KafkaSettings__BootstrapServers=kafka:29092
    ports:
      - "5006:5006"
    depends_on:
      - app-backend-autenticacao
    networks:
      - shopping-network

  # --- FRONTENDS ---
  app-mobile-compras:
    build:
      context: .
      dockerfile: Frontend/app-mobile-compras/Dockerfile
    container_name: app-mobile-compras
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app-api-produto
      - app-api-autenticacao
      - app-modulo-home
      - app-modulo-autenticacao
    networks:
      - shopping-network

  app-modulo-home:
    build:
      context: .
      dockerfile: Frontend/Modules/app-modulo-home/Dockerfile
    container_name: app-modulo-home
    ports:
      - "4202:80"
    networks:
      - shopping-network

  app-modulo-autenticacao:
    build:
      context: .
      dockerfile: Frontend/Modules/app-modulo-autenticacao/Dockerfile
    container_name: app-modulo-autenticacao
    ports:
      - "4204:80"
    networks:
      - shopping-network

networks:
  shopping-network:
    external: true
