services:
  # --- BACKENDS ---
  app-backend-autenticacao:
    build:
      context: .
      dockerfile: Backend/app-backend-autenticacao/Dockerfile
    container_name: app-backend-autenticacao
    environment:
      - ASPNETCORE_ENVIRONMENT=Homologation
      - AppName=app-backend-autenticacao
      - PathBase=/app-backend-autenticacao
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=gestaoFinanceiraDB;User Id=sa;Password=Dev@123456;TrustServerCertificate=True;MultipleActiveResultSets=true
      - ASPNETCORE_URLS=https://+:8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/lista-de-compras.pfx
      - Kafka__BootstrapServers=kafka:29092
    ports:
      - "7000:8081"
    volumes:
      - ./nginx/certs/lista-de-compras.pfx:/https/lista-de-compras.pfx:ro
    networks:
      - shopping-network

  app-backend-produto:
    build:
      context: .
      dockerfile: Backend/app-backend-produto/Dockerfile
    container_name: app-backend-produto
    environment:
      - ASPNETCORE_ENVIRONMENT=Homologation
      - AppName=app-backend-produto
      - PathBase=/app-backend-produto
      - ConnectionStrings__DefaultConnection=Server=sqlserver;Database=gestaoFinanceiraDB;User Id=sa;Password=Dev@123456;TrustServerCertificate=True;MultipleActiveResultSets=true
      - CacheSettings__ConnectionString=redis:6379
      - ASPNETCORE_URLS=https://+:8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/lista-de-compras.pfx
      - Kafka__BootstrapServers=kafka:29092
    ports:
      - "6002:8081"
    volumes:
      - ./nginx/certs/lista-de-compras.pfx:/https/lista-de-compras.pfx:ro
    networks:
      - shopping-network

  # --- GATEWAY ---
  app-api-produto:
    build:
      context: .
      dockerfile: Gateway/app-api-produto/Dockerfile
    container_name: app-api-produto
    environment:
      - ASPNETCORE_ENVIRONMENT=Homologation
      - AppName=app-api-produto
      - PathBase=/app-api-produto
      - ASPNETCORE_URLS=https://+:8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/lista-de-compras.pfx
      - Kafka__BootstrapServers=kafka:29092
    ports:
      - "5000:8081"
    volumes:
      - ./nginx/certs/lista-de-compras.pfx:/https/lista-de-compras.pfx:ro
    depends_on:
      - app-backend-produto
    networks:
      - shopping-network

  app-api-autenticacao:
    build:
      context: .
      dockerfile: Gateway/app-api-autenticacao/Dockerfile
    container_name: app-api-autenticacao
    environment:
      - ASPNETCORE_ENVIRONMENT=Homologation
      - AppName=app-api-autenticacao
      - PathBase=/app-api-autenticacao
      - ASPNETCORE_URLS=https://+:8081
      - ASPNETCORE_Kestrel__Certificates__Default__Password=Development
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/lista-de-compras.pfx      
      - Kafka__BootstrapServers=kafka:29092
    ports:
      - "5005:8081"
    volumes:
      - ./nginx/certs/lista-de-compras.pfx:/https/lista-de-compras.pfx:ro
    depends_on:
      - app-backend-autenticacao
    networks:
      - shopping-network

  # --- NGINX GATEWAY ---
  nginx-gateway:
    image: nginx:stable-alpine
    container_name: nginx_gateway
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/gateway.conf:/etc/nginx/conf.d/default.conf:ro
      - ./nginx/certs:/etc/nginx/certs:ro
    depends_on:
      - app-mobile-compras
      - app-modulo-home
    networks:
      - shopping-network

  # --- FRONTENDS ---
  app-mobile-compras:
    build:
      context: .
      dockerfile: Frontend/app-mobile-compras/Dockerfile
    container_name: app-mobile-compras
    ports:
      - "4200:80"
      - "4201:443"
    depends_on:
      - app-api-produto
    networks:
      - shopping-network

  app-modulo-home:
    build:
      context: .
      dockerfile: Frontend/Modules/app-modulo-home/Dockerfile
    container_name: app-modulo-home
    ports:
      - "4202:80"
      - "4203:443"
    networks:
      - shopping-network

  app-modulo-autenticacao:
    build:
      context: .
      dockerfile: Frontend/Modules/app-modulo-autenticacao/Dockerfile
    container_name: app-modulo-autenticacao
    ports:
      - "4204:80"
      - "4205:443"
    networks:
      - shopping-network

networks:
  shopping-network:
    external: true
