.home-iframe-container {
    position: fixed;
    top: 0; // Toolbar removida, encostar no topo
    left: 0;
    right: 0;
    bottom: 56px; // Altura do bottom-nav
    width: 100%;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}